<!DOCTYPE html>
<html>
<head>
  <title>Social</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if session[:user_id] != nil %>
<nav class="navbar navbar-default navbar-middle">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">

       <!--   <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Friends <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li> 
              <a> <form action="/friendships/2" method="post">
              <button type="submit"> submit </button> 
              </form> </a>
            </li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->

        <li><a href="/users">Coming soon</a></li>
        <li class="active"><a href="/posts">Your feed <span class="sr-only">(current)</span></a></li>
        <li><a href="/users">All Users</a></li>
        <li class="active"><a href="/friendships">All your friends <span class="sr-only">(current)</span></a></li>
        <li><a href="/users/<%=current_user.id%>">Your profile</a></li>

        </ul>
        
     
      <ul class="nav navbar-nav navbar-right">
        <p class="navbar-text">Signed in as <%if current_user%> <%=current_user.first_name%> <%end%>   </p>
        <li><a href="/users/edit" >Edit Profile</a></li>
        <li><a href="/sessions" data-method='delete'>Logout</a></li>

      
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%end%>
<% if flash[:error] %>
<p> You have some errors </p>
<%flash[:error].each do |x|%>
	<li style="color:red;"><%=x%></li>	
<%end%>
<%end%>
<%if false%>
<% if current_user %>
 
<%end%>
<%end%>
 <form action='/sessions' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Log Out'>
  </form>
<%= yield %>

</body>
</html>
